<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>PCV build of ControlCenter Nimbus_8.6.2.100 OnPrem_UI_Inv code - Generate Installer&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- &lt;b&gt;repo&lt;/b&gt;: https://bitbucket.org/nxtlbs-devops/destiny-installer&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- &lt;b&gt;branch&lt;/b&gt;: origin/saas/nimbus/8.6.2/pcv/onprem_ui_inv</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@bitbucket.org:nxtlbs-devops/destiny-installer.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/saas/nimbus/8.6.2/pcv/onprem_ui_inv</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
      <hudson.plugins.git.extensions.impl.PruneStaleBranch/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>pcv_CC_Nimbus_8.6.2.100_OnPrem_UI_Inv_serverapps, </upstreamProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H H/6 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
export NLEXTERNALDIR=D:/P4/external
export NLEXTERNALDIR2=D:/P4/main_external
export JAVA_HOME=$NLEXTERNALDIR2/j2sdk/jdk1.8.0_161

export DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT=D:/Jenkins/workspace/source_destiny-openaz-nodejs_Nimbus_release_8.5.0
export TECHPUBS_HELP_ROOT=D:/Jenkins/workspace/destiny-Nimbus-8.1.2-help-SaaS

set +x
echo &quot;################################################################################&quot;
echo &quot;INFO: Git info about current state of DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT&quot;
echo &quot;INFO: DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT is ${DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT}&quot;
cd ${DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT}/
git show --quiet --no-patch HEAD
echo &quot;################################################################################&quot;

echo &quot;################################################################################&quot;
echo &quot;INFO: Git info about current state of TECHPUBS_HELP_ROOT&quot;
echo &quot;INFO: TECHPUBS_HELP_ROOT is ${TECHPUBS_HELP_ROOT}&quot;
cd ${TECHPUBS_HELP_ROOT}/
git show --quiet --no-patch HEAD
echo &quot;################################################################################&quot;
set -x

cd ${WORKSPACE}/
source ./setEnv
./buildPcv</command>
    </hudson.tasks.Shell>
    <hudson.plugins.descriptionsetter.DescriptionSetterBuilder plugin="description-setter@1.10">
      <regexp>^Checking out Revision (\w{7})</regexp>
      <description>GitSHA: \1</description>
    </hudson.plugins.descriptionsetter.DescriptionSetterBuilder>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>hudson-build@nextlabs.com Alan.Morgan@nextlabs.com ShahNeng.Chok@nextlabs.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>