<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Release build of ControlCenter SaaS version 8.1.2&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- &lt;b&gt;branch&lt;/b&gt;: //depot/Destiny/D_Nimbus/release/8.1.2/main/...</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.36">
    <configVersion>2</configVersion>
    <p4User>nxbuild</p4User>
    <p4Passwd>0f0kqlwaxhEd4Z67fGvDTRFHyxR8/A==</p4Passwd>
    <p4Port>nxt-p4s02.nextlabs.com:1666</p4Port>
    <p4Client>jenkins_nb10_release_ControlCenter_8.1.2</p4Client>
    <projectPath>//depot/Destiny/D_Nimbus/release/8.1.2/main/... //default/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner></clientOwner>
    <p4SysDrive>C:\</p4SysDrive>
    <p4SysRoot>C:\Windows</p4SysRoot>
    <p4Tool></p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>unix</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set +x
export NLEXTERNALDIR=D:/P4/external
export NLEXTERNALDIR2=D:/P4/main_external
export JAVA_HOME=$NLEXTERNALDIR2/j2sdk/jdk1.7.0_71

export DESTINY_UI_SRC_TREE_ROOT=D:/Jenkins/workspace/source_destiny-ui_Nimbus_saas
export DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT=D:/Jenkins/workspace/source_destiny-openaz-nodejs_Nimbus_release_8.1.0
export TECHPUBS_HELP_ROOT=D:/Jenkins/workspace/destiny-Nimbus-8.1-help-OnPremise

set +x
echo &quot;################################################################################&quot;
echo &quot;INFO: Git info about current state of DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT&quot;
echo &quot;INFO: DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT is ${DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT}&quot;
cd ${DESTINY_OPENAZ_NODEJS_SRC_TREE_ROOT}/
git show --quiet HEAD
echo &quot;################################################################################&quot;

echo &quot;################################################################################&quot;
echo &quot;INFO: Git info about current state of DESTINY_UI_SRC_TREE_ROOT&quot;
echo &quot;INFO: DESTINY_UI_SRC_TREE_ROOT is ${DESTINY_UI_SRC_TREE_ROOT}&quot;
cd ${DESTINY_UI_SRC_TREE_ROOT}/
git show --quiet HEAD
echo &quot;################################################################################&quot;

echo &quot;################################################################################&quot;
echo &quot;INFO: Git info about current state of TECHPUBS_HELP_ROOT&quot;
echo &quot;INFO: TECHPUBS_HELP_ROOT is ${TECHPUBS_HELP_ROOT}&quot;
cd ${TECHPUBS_HELP_ROOT}/
git show --quiet HEAD
echo &quot;################################################################################&quot;
set -x

cd ${WORKSPACE}
source ./setEnv
./buildRelease

awk &apos;/VERSION_BUILD_SHORT=/{print $2}&apos; build.config &gt; ${WORKSPACE}/upload2s3.properties
awk &apos;/VERSION_STR=/{print $2}&apos;  build.config &gt;&gt; ${WORKSPACE}/upload2s3.properties
echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Contents of upload2s3.properties&quot;
cat ${WORKSPACE}/upload2s3.properties
echo &quot;################################################################################&quot;
echo

## EOF ##
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@1.1.0">
      <config>
        <genericScriptFiles/>
        <groovyScriptFiles/>
        <groovyScripts/>
        <buildSteps>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>SUCCESS</string>
            </results>
            <role>BOTH</role>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>set +x
export AWS_ACCESS_KEY_ID=${STAGING_AWS_ACCESS_KEY_ID} # STAGING_AWS_ACCESS_KEY_ID defined in Jenkins properties
export AWS_SECRET_ACCESS_KEY=&quot;${STAGING_AWS_SECRET_ACCESS_KEY}&quot; # STAGING_AWS_SECRET_ACCESS_KEY defined in Jenkins properties

export DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT=D:/Jenkins/workspace/source_devops-aws-scripts

RETRY_COUNT=5 # Number of retry attempts to push package to S3
OVERALL_UPLOAD_STATUS=0 # Overall status of upload of all packages
BUCKET=nextlabs-rc
PKG_DIR=$(cygpath --mixed ${WORKSPACE})

VERSION_BUILD_SHORT=$(awk -F&apos;=&apos; &apos;/VERSION_BUILD_SHORT/{print $2}&apos; ${PKG_DIR}/upload2s3.properties)
VERSION_STR=$(awk -F&apos;=&apos; &apos;/VERSION_STR/{print $2}&apos; ${PKG_DIR}/upload2s3.properties)

echo &quot;INFO: VERSION_BUILD_SHORT: ${VERSION_BUILD_SHORT}&quot;
echo &quot;INFO: VERSION_STR: ${VERSION_STR}&quot;

echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Archives to upload in ${PKG_DIR}/build&quot;
echo &quot;################################################################################&quot;
ls -l &quot;${PKG_DIR}&quot;/build/*.zip
echo &quot;################################################################################&quot;
echo

echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Contents of upload2s3.properties&quot;
cat ${PKG_DIR}/upload2s3.properties
echo &quot;################################################################################&quot;
echo

##
# Usage: checkPackageInS3 INSTALLER UPLOADPATH
##
checkPackageInS3 () {
	INSTALLER=$1
	UPLOADPATH=$2
	PKGCOUNT=$(aws s3 ls s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/${INSTALLER} | wc -l)
	if [ ${PKGCOUNT} -ne 1 ] ; then
		echo &quot;ERROR: checkPackageInS3(): Upload of ${INSTALLER} package failed.&quot;
		OVERALL_UPLOAD_STATUS=-1
	fi
}
##
################################################################################

if compgen -G &quot;${PKG_DIR}/build/ControlCenter-Linux-chef-SaaS-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_CC_LINUX_CHEF_INSTALLER=$(ls ${PKG_DIR}/build/ControlCenter-Linux-chef-SaaS-${VERSION_STR}*.zip)
	CC_LINUX_CHEF_INSTALLER=$(basename ${FP2_CC_LINUX_CHEF_INSTALLER})
	UPLOADPATH=Platform

	echo &quot;INFO: Uploading $(basename ${FP2_CC_LINUX_CHEF_INSTALLER}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_LINUX_CHEF_INSTALLER} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_LINUX_CHEF_INSTALLER} numtry=${RETRY_COUNT} &amp;
fi

if compgen -G &quot;${PKG_DIR}/build/ControlCenter-Linux-chef-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER=$(ls ${PKG_DIR}/build/ControlCenter-Linux-chef-${VERSION_STR}*.zip)
	CC_LINUX_CHEF_ONPREMISE_INSTALLER=$(basename ${FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER})
	UPLOADPATH=Platform

	# Upload the package to S3
	echo &quot;INFO: Uploading $(basename ${FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER} numtry=${RETRY_COUNT} &amp;
fi

if compgen -G &quot;${PKG_DIR}/build/ControlCenter-Windows-chef-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_CC_WINDOWS_CHEF_INSTALLER=$(ls ${PKG_DIR}/build/ControlCenter-Windows-chef-${VERSION_STR}*.zip)
	CC_WINDOWS_CHEF_INSTALLER=$(basename ${FP2_CC_WINDOWS_CHEF_INSTALLER})
	UPLOADPATH=Platform

	# Upload the package to S3
	echo &quot;INFO: Uploading $(basename ${FP2_CC_WINDOWS_CHEF_INSTALLER}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_WINDOWS_CHEF_INSTALLER} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_CC_WINDOWS_CHEF_INSTALLER} numtry=${RETRY_COUNT} &amp;
fi

if compgen -G &quot;${PKG_DIR}/build/PolicyControllerJava-chef-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_JPC_LINUX_CHEF_INSTALLER=$(ls ${PKG_DIR}/build/PolicyControllerJava-chef-${VERSION_STR}*.zip)
	JPC_LINUX_CHEF_INSTALLER=$(basename ${FP2_JPC_LINUX_CHEF_INSTALLER})
	UPLOADPATH=PolicyControllerJava

	# Upload the package to S3
	echo &quot;INFO: Uploading $(basename ${FP2_JPC_LINUX_CHEF_INSTALLER}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_JPC_LINUX_CHEF_INSTALLER} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_JPC_LINUX_CHEF_INSTALLER} numtry=${RETRY_COUNT} &amp;
fi

if compgen -G &quot;${PKG_DIR}/build/Nextlabs-OpenAZ-PEP-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_OPENAZPEP_INSTALLER=$(ls ${PKG_DIR}/build/Nextlabs-OpenAZ-PEP-${VERSION_STR}*.zip)
	OPENAZPEP_INSTALLER=$(basename ${FP2_OPENAZPEP_INSTALLER})
	UPLOADPATH=Platform

	# Upload the package to S3
	echo &quot;INFO: Uploading $(basename ${FP2_OPENAZPEP_INSTALLER}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_OPENAZPEP_INSTALLER} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_OPENAZPEP_INSTALLER} numtry=${RETRY_COUNT} &amp;
fi

wait

checkPackageInS3 ${CC_LINUX_CHEF_INSTALLER} Platform
checkPackageInS3 ${CC_LINUX_CHEF_ONPREMISE_INSTALLER} Platform
checkPackageInS3 ${CC_WINDOWS_CHEF_INSTALLER} Platform
checkPackageInS3 ${JPC_LINUX_CHEF_INSTALLER} PolicyControllerJava
checkPackageInS3 ${OPENAZPEP_INSTALLER} Platform

rm -f ${FP2_CC_LINUX_CHEF_INSTALLER} ${FP2_CC_LINUX_CHEF_ONPREMISE_INSTALLER} ${FP2_CC_WINDOWS_CHEF_INSTALLER} ${FP2_JPC_LINUX_CHEF_INSTALLER} ${FP2_OPENAZPEP_INSTALLER}
# rm -f ${PKG_DIR}/upload2s3.properties

exit ${OVERALL_UPLOAD_STATUS}

## EOF ##
</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
        </buildSteps>
        <markBuildUnstable>false</markBuildUnstable>
      </config>
      <buildSteps>
        <hudson.tasks.Shell reference="../../config/buildSteps/org.jenkinsci.plugins.postbuildscript.model.PostBuildStep/buildSteps/hudson.tasks.Shell"/>
      </buildSteps>
      <scriptOnlyIfSuccess>true</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <hudson.plugins.perforce.PerforceTagNotifier plugin="perforce@1.3.36">
      <rawLabelName>${BUILD_TAG}_nb10</rawLabelName>
      <rawLabelOwner></rawLabelOwner>
      <rawLabelDesc></rawLabelDesc>
      <onlyOnSuccess>false</onlyOnSuccess>
    </hudson.plugins.perforce.PerforceTagNotifier>
    <hudson.tasks.Mailer plugin="mailer@1.20">
      <recipients>hudson-build@nextlabs.com Amila.Silva@nextlabs.com Shiqiang.Duan@nextlabs.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>