<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Release Build for OAuth2JWTSecret Plugin version 8.0.4&#xd;
&lt;br&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;- &lt;b&gt;Perforce branch&lt;/b&gt;: //depot/plugins/Platform/Oauth2JWTSecretPlugin/...</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.36">
    <configVersion>2</configVersion>
    <p4User>nxbuild</p4User>
    <p4Passwd>0f0kqlwaxhEd4Z67fGvDTRFHyxR8/A==</p4Passwd>
    <p4Port>nxt-p4s02.nextlabs.com:1666</p4Port>
    <p4Client>jenkins_nb10_release_OAuth2JWTSecretPlugin_8.0.4</p4Client>
    <projectPath>//depot/plugins/Platform/Oauth2JWTSecretPlugin/... //default/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <clientOwner></clientOwner>
    <p4SysDrive>C:\</p4SysDrive>
    <p4SysRoot>C:\Windows</p4SysRoot>
    <p4Tool></p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>true</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>unix</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export NLEXTERNALDIR=D:/P4/main_external
export JAVA_HOME=$NLEXTERNALDIR2/j2sdk/jdk1.7.0_71

export PUBLISH_TO_BODA=1

cd ${WORKSPACE}/
source ./setEnv
./buildRelease

awk &apos;/VERSION_BUILD_SHORT=/{print $2}&apos; build.config &gt; ${WORKSPACE}/upload2s3.properties
awk &apos;/VERSION_STR=/{print $2}&apos;  build.config &gt;&gt; ${WORKSPACE}/upload2s3.properties
echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Contents of upload2s3.properties&quot;
cat ${WORKSPACE}/upload2s3.properties
echo &quot;################################################################################&quot;
echo

## EOF ##
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@1.1.0">
      <config>
        <genericScriptFiles/>
        <groovyScriptFiles/>
        <groovyScripts/>
        <buildSteps>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>SUCCESS</string>
            </results>
            <role>BOTH</role>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>set +x
export AWS_ACCESS_KEY_ID=${STAGING_AWS_ACCESS_KEY_ID} # STAGING_AWS_ACCESS_KEY_ID defined in Jenkins properties
export AWS_SECRET_ACCESS_KEY=&quot;${STAGING_AWS_SECRET_ACCESS_KEY}&quot; # STAGING_AWS_SECRET_ACCESS_KEY defined in Jenkins properties

export DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT=D:/Jenkins/workspace/source_devops-aws-scripts

RETRY_COUNT=5 # Number of retry attempts to push package to S3
OVERALL_UPLOAD_STATUS=0 # Overall status of upload of all packages
BUCKET=nextlabspcv
PKG_DIR=$(cygpath --mixed ${WORKSPACE})

VERSION_BUILD_SHORT=$(awk -F&apos;=&apos; &apos;/VERSION_BUILD_SHORT/{print $2}&apos; ${PKG_DIR}/upload2s3.properties)
VERSION_STR=$(awk -F&apos;=&apos; &apos;/VERSION_STR/{print $2}&apos; ${PKG_DIR}/upload2s3.properties)

echo &quot;INFO: VERSION_BUILD_SHORT: ${VERSION_BUILD_SHORT}&quot;
echo &quot;INFO: VERSION_STR: ${VERSION_STR}&quot;

echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Archives to upload in ${PKG_DIR}/build&quot;
echo &quot;################################################################################&quot;
ls -l &quot;${PKG_DIR}&quot;/build/Oauth2JWTSecret-Plugin-*.zip
echo &quot;################################################################################&quot;
echo

echo
echo &quot;################################################################################&quot;
echo &quot;INFO: Contents of upload2s3.properties&quot;
cat ${PKG_DIR}/upload2s3.properties
echo &quot;################################################################################&quot;
echo

##
# Usage: checkPackageInS3 INSTALLER UPLOADPATH
##
checkPackageInS3 () {
	INSTALLER=$1
	UPLOADPATH=$2
	PKGCOUNT=$(aws s3 ls s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/${INSTALLER} | wc -l)
	if [ ${PKGCOUNT} -ne 1 ] ; then
		echo &quot;ERROR: checkPackageInS3(): Upload of ${INSTALLER} package failed.&quot;
		OVERALL_UPLOAD_STATUS=-1
	fi
}
##
################################################################################

if compgen -G &quot;${PKG_DIR}/build/Oauth2JWTSecret-Plugin-${VERSION_STR}*.zip&quot; &gt; /dev/null; then
	FP2_OAUTH2JWTSECRET_PLUGIN=$(ls ${PKG_DIR}/build/Oauth2JWTSecret-Plugin-${VERSION_STR}*.zip)
	OAUTH2JWTSECRET_PLUGIN=$(basename ${FP2_OAUTH2JWTSECRET_PLUGIN})
	UPLOADPATH=Oauth2JWTSecret_Plugin

	echo &quot;INFO: Uploading $(basename ${FP2_OAUTH2JWTSECRET_PLUGIN}) to s3://${BUCKET}/nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT}/&quot;
	echo python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_OAUTH2JWTSECRET_PLUGIN} numtry=${RETRY_COUNT}
	python ${DEVOPS_AWS_SCRIPTS_SRC_TREE_ROOT}/build-scripts/s3upload.py bucket=${BUCKET} s3path=nextlabs-share/${UPLOADPATH}/${VERSION_STR}/${VERSION_BUILD_SHORT} file=${FP2_OAUTH2JWTSECRET_PLUGIN} numtry=${RETRY_COUNT} &amp;
fi

wait

checkPackageInS3 ${OAUTH2JWTSECRET_PLUGIN} Oauth2JWTSecret_Plugin

rm -f ${FP2_OAUTH2JWTSECRET-PLUGIN}
# rm -f ${PKG_DIR}/upload2s3.properties

exit ${OVERALL_UPLOAD_STATUS}

## EOF ##
</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
        </buildSteps>
        <markBuildUnstable>false</markBuildUnstable>
      </config>
      <buildSteps>
        <hudson.tasks.Shell reference="../../config/buildSteps/org.jenkinsci.plugins.postbuildscript.model.PostBuildStep/buildSteps/hudson.tasks.Shell"/>
      </buildSteps>
      <scriptOnlyIfSuccess>true</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <hudson.plugins.perforce.PerforceTagNotifier plugin="perforce@1.3.36">
      <rawLabelName>${BUILD_TAG}_nb10</rawLabelName>
      <rawLabelOwner></rawLabelOwner>
      <rawLabelDesc></rawLabelDesc>
      <onlyOnSuccess>false</onlyOnSuccess>
    </hudson.plugins.perforce.PerforceTagNotifier>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>build-admin@nextlabs.com Amila.Silva@nextlabs.com Shiqiang.Duan@nextlabs.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>